body {
  width: 80%;
  height: 100%;
  margin: auto;
  text-align: center;
}

nav a {
  background-color: lightblue;
}

header {
  margin: auto;
  text-align: center;
}

p {
  padding-left: 10px;
  padding-right: 10px;
}

#details {
  background-color: lightblue;
  margin: auto;
}

#details div {
  float: left;
  background-color: lightblue;
  width: 25%;
  text-align: center;
}

#caption {
  font-size: .9em;
}

p#featured-property {
  width: 800px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}